@page
@model ProjetoMOAB.Pages.Visitante.SaibaMais.diretoresModel
@{
    ViewData["Title"] = "Sobre nós";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <a href="/#moab">
            <img id="moab" class="masthead-avatar mb-5" src="/assets/img/portfolio/LogoMOAB.png" alt="Logo MOAB" />
        </a>
        <!-- Masthead Heading-->
        <h1 class="MOAB-Header mb-0">Diretores e Conselheiros da nossa instituição</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-puzzle-piece"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Saiba mais</p>
    </div>
</header>

<!-- Botão de Voltar -->
<div class="container text-center mt-4">
    <a href="javascript:history.back()" class="btn btn-secondary btn-lg"><i class="fas fa-arrow-left"></i> Voltar</a>
    <br><br>
</div>


<!-- Galeria de Imagens - Diretores -->
<section class="gallery-section py-5">
    <div class="container">
        <h1 class="text-center mb-4">Diretores</h1>
        <div class="row g-4">
            @for (int i = 1; i <= 20; i++)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="gallery-item">
                        <img src="/assets/img/saibamais/Diretores/diretoria (@i).png" alt="Diretor @i" class="img-fluid gallery-img" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Galeria de Imagens - Conselheiros Fiscais -->
<section class="gallery-section py-5">
    <div class="container">
        <h1 class="text-center mb-4">Conselheiros Fiscais</h1>
        <div class="row g-4">
            @for (int i = 1; i <= 20; i++)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="gallery-item">
                        <img src="/assets/img/saibamais/conselheiro/conselheiro (@i).png" alt="Conselheiro @i" class="img-fluid gallery-img" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>

