@page
@model ProjetoMOAB.Pages.Visitante.SaibaMais.SaibaMaisModel
@{
    ViewData["Title"] = "Sobre nós";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <a href="/#moab">
            <img id="moab" class="masthead-avatar mb-5" src="/assets/img/portfolio/LogoMOAB.png" alt="..." />
        </a>
        <!-- Masthead Heading-->
        <h1 class="MOAB-Header mb-0">Sobre nós</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-puzzle-piece"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Venha Conhecer a gente!</p>

    </div>

</header>

<!-- Botão de Voltar -->
<div class="container text-center mt-4">
    <a href="javascript:history.back()" class="btn btn-secondary btn-lg"><i class="fas fa-arrow-left"></i> Voltar</a>
    <br><br>
</div>

<!-- Diretores e conselheiros -->

<section class="container my-5">
    <h2 class="text-center mb-4">Sobre a nossa instituição</h2>
    <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="/assets/img/portfolio/65-Autismo-que-e-quais-os-sintomas-e-os-tratamentos.jpg" alt="Evento 1">
                <div class="card-body">
                    <h5 class="card-title">Quem é quem?</h5>
                    <p class="card-text">Diretores e conselheiros da Moab</p>
                    <a asp-page="/Visitante/SaibaMais/diretores" class="btn btn-primary">Saiba Mais</a> <!-- Botão de Acesso -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="/assets/img/saibamais/Autismo.jpg" alt="Evento 2">
                <div class="card-body">
                    <h5 class="card-title">Fale conosco</h5>
                    <p class="card-text">Entre em contato com a gente!</p>
                    <a asp-page="/Visitante/SaibaMais/faleconosco" class="btn btn-primary">Saiba Mais</a> <!-- Botão de Acesso -->
                </div>
            </div>
        </div>

        <!-- Legislação -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="/assets/img/saibamais/legislacao-sobre-cameras-de-seguranca-em-condominio-01.png" alt="Evento 3">
                <div class="card-body">
                    <h5 class="card-title">Legislações</h5>
                    <p class="card-text">Legislações sobre o autismo</p>
                    <a asp-page="/Visitante/SaibaMais/legislacao" class="btn btn-primary">Saiba Mais</a> <!-- Botão de Acesso -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="/assets/img/saibamais/evento3.jpg" alt="Evento 3">
                <div class="card-body">
                    <h5 class="card-title">Trabalhos</h5>
                    <p class="card-text">Nossos trabalhos referente a instituição</p>
                    <a asp-page="/Visitante/SaibaMais/trabalhos" class="btn btn-primary">Saiba Mais</a> <!-- Botão de Acesso -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="/assets/img/saibamais/evento3.jpg" alt="Evento 3">
                <div class="card-body">
                    <h5 class="card-title">Panfletos e cartilhas</h5>
                    <p class="card-text">Apresentamos os nossos panfletos e cartilhas</p>
                    <a asp-page="" class="btn btn-primary">Saiba Mais</a> <!-- Botão de Acesso -->
                </div>
            </div>
        </div>

    </div>
</section>


<style>

    /* Definir altura mínima para os cards */
    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Garantir que o corpo do card ocupe o espaço disponível */
    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


</style>
