@page
@model PrivacyModel

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="/assets/img/portfolio/LogoMOAB.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="MOAB-Header mb-0">MOAB - Movimento Orgulho Autista Brasil</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-puzzle-piece"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Todos somos voluntários!</p>
    </div>
</header>
<div>
    <form role="form" asp-controller="Visitante" method="post" asp-action="ConvertTextToSpeech">
        <h2> TEXT TO SPEECH</h2>
        <input type="text" id="text-input" placeholder="Digite o texto aqui">
        <button type="submit">Falar</button>
        <br><br>
        <audio id="audio-player" controls style="display:none;"></audio>
    </form>
</div>



