@page
@model IndexModel

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <a href="/#moab">
            <img id="moab" class="masthead-avatar mb-5" src="/assets/img/portfolio/LogoMOAB.png" alt="..." />
        </a>

        <!-- Masthead Heading-->
        <h1 class="MOAB-Header mb-0">MOAB - Movimento Orgulho Autista Brasil</h1>

        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-puzzle-piece"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Todos somos voluntários!</p>
    </div>
</header>

<!-- Section with Buttons-->
<section class="text-center mt-4">
    <div class="container">
        <div class="row g-3">
            <div class="col-md-4">
                <a href="/Visitante/Eventos/evento2019" class="btn btn-primary btn-lg btn-block">Evento 2019</a>
            </div>
            <div class="col-md-4">
                <a href="/Visitante/Eventos/evento2018" class="btn btn-primary btn-lg btn-block">Evento 2018</a>
            </div>
            <div class="col-md-4">
                <a href="/Visitante/Eventos/evento20162017" class="btn btn-primary btn-lg btn-block">Evento 2016/2017</a>
            </div>
            <div class="col-md-4">
                <a href="/Noticias" class="btn btn-primary btn-lg btn-block">Notícias</a>
            </div>
            <div class="col-md-4">
                <a href="/Desabafo" class="btn btn-primary btn-lg btn-block">Desabafo</a>
            </div>
            <div class="col-md-4">
                <a href="/MoabPeloMundo" class="btn btn-primary btn-lg btn-block">MOAB pelo Mundo</a>
            </div>
            <div class="col-md-4">
                <a href="/Visitante/acoes/acoesCordenacao" class="btn btn-primary btn-lg btn-block">Ações da Coordenação</a>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
